# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "/Users/victoralvarado/Desktop/class_folder/World_Weather_Analysis/Weather_Database/cities.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv("/Users/victoralvarado/Desktop/class_folder/World_Weather_Analysis/Weather_Database/cities.csv")

# Display sample data
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Severo-Kurilsk,RU,2022-09-25 03:13:20,50.6789,156.1250,51.82,97,100,19.13,light rain
1,1,Chegutu,ZW,2022-09-25 03:13:21,-18.1302,30.1407,64.56,53,2,6.96,clear sky
2,2,Atar,MR,2022-09-25 03:13:21,20.5169,-13.0499,87.80,49,99,6.02,overcast clouds
3,3,Lorengau,PG,2022-09-25 03:13:22,-2.0226,147.2712,86.47,64,29,11.61,moderate rain
4,4,Bazarnyye Mataki,RU,2022-09-25 03:13:22,54.8833,49.9333,50.20,76,100,1.86,overcast clouds
...,...,...,...,...,...,...,...,...,...,...,...
560,560,Kulgam,IN,2022-09-25 03:29:07,33.6500,75.0167,60.24,93,100,6.13,overcast clouds
561,561,Dharmanagar,IN,2022-09-25 03:29:08,24.3667,92.1667,84.74,73,80,1.43,broken clouds
562,562,Pankrushikha,RU,2022-09-25 03:29:08,53.8319,80.3406,60.93,47,98,11.95,light rain
563,563,Lazaro Cardenas,MX,2022-09-25 03:29:09,17.9583,-102.2000,79.48,86,48,5.84,scattered clouds
564,564,Moose Factory,CA,2022-09-25 03:29:09,51.2585,-80.6094,44.60,93,0,2.30,clear sky

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))


# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.count()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
2,2,Atar,MR,2022-09-25 03:13:21,20.5169,-13.0499,87.80,49,99,6.02,overcast clouds
3,3,Lorengau,PG,2022-09-25 03:13:22,-2.0226,147.2712,86.47,64,29,11.61,moderate rain
7,7,Kapaa,US,2022-09-25 03:13:24,22.0752,-159.3190,84.18,71,0,8.05,clear sky
8,8,Bathsheba,BB,2022-09-25 03:13:24,13.2167,-59.5167,81.21,89,40,12.66,scattered clouds
14,14,Butaritari,KI,2022-09-25 03:13:27,3.0707,172.7902,81.95,67,28,9.17,scattered clouds
17,17,Ribeira Grande,PT,2022-09-25 03:13:28,38.5167,-28.7000,72.59,78,92,23.04,overcast clouds
18,18,Kon Tum,VN,2022-09-25 03:13:28,14.3500,108.0000,72.05,97,100,1.52,overcast clouds
20,20,Hami,CN,2022-09-25 03:13:29,42.8000,93.4500,78.94,10,0,9.33,clear sky
22,22,Vaini,TO,2022-09-25 03:13:30,-21.2000,-175.2000,77.16,88,75,8.05,broken clouds
26,26,Rikitea,PF,2022-09-25 03:13:32,-23.1203,-134.9692,70.14,67,87,16.84,overcast clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
#my code didnt need to be cleaned but I'll add the 'drop.na' attriubte anyways :D

clean_travel_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()

# Display sample data
clean_travel_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
2,2,Atar,MR,2022-09-25 03:13:21,20.5169,-13.0499,87.80,49,99,6.02,overcast clouds
3,3,Lorengau,PG,2022-09-25 03:13:22,-2.0226,147.2712,86.47,64,29,11.61,moderate rain
7,7,Kapaa,US,2022-09-25 03:13:24,22.0752,-159.3190,84.18,71,0,8.05,clear sky
8,8,Bathsheba,BB,2022-09-25 03:13:24,13.2167,-59.5167,81.21,89,40,12.66,scattered clouds
14,14,Butaritari,KI,2022-09-25 03:13:27,3.0707,172.7902,81.95,67,28,9.17,scattered clouds
...,...,...,...,...,...,...,...,...,...,...,...
554,554,Santa Cruz,BO,2022-09-25 03:25:05,-17.8000,-63.1667,72.86,68,78,6.91,smoke
556,556,Taloqan,AF,2022-09-25 03:29:06,36.7361,69.5345,73.40,17,0,3.18,clear sky
559,559,Xihe,CN,2022-09-25 03:29:07,31.6864,113.4659,72.45,37,100,4.34,overcast clouds
561,561,Dharmanagar,IN,2022-09-25 03:29:08,24.3667,92.1667,84.74,73,80,1.43,broken clouds
563,563,Lazaro Cardenas,MX,2022-09-25 03:29:09,17.9583,-102.2000,79.48,86,48,5.84,scattered clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities_df[["City","Country","Max Temp", "Weather Description","Lat","Lng"]].copy()

# Display sample data
hotel_df

                City Country  Max Temp Weather Description      Lat       Lng
2               Atar      MR     87.80     overcast clouds  20.5169  -13.0499
3           Lorengau      PG     86.47       moderate rain  -2.0226  147.2712
7              Kapaa      US     84.18           clear sky  22.0752 -159.3190
8          Bathsheba      BB     81.21    scattered clouds  13.2167  -59.5167
14        Butaritari      KI     81.95    scattered clouds   3.0707  172.7902
..               ...     ...       ...                 ...      ...       ...
554       Santa Cruz      BO     72.86               smoke -17.8000  -63.1667
556          Taloqan      AF     73.40           clear sky  36.7361   69.5345
559             Xihe      CN     72.45     overcast clouds  31.6864  113.4659
561      Dharmanagar      IN     84.74       broken clouds  24.3667   92.1667
563  Lazaro Cardenas      MX     79.48    scattered clouds  17.9583 -102.2000

[243 rows x 6 columns]

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [7]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"]=""

# Display sample data
hotel_df

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
2,Atar,MR,87.80,overcast clouds,20.5169,-13.0499,
3,Lorengau,PG,86.47,moderate rain,-2.0226,147.2712,
7,Kapaa,US,84.18,clear sky,22.0752,-159.3190,
8,Bathsheba,BB,81.21,scattered clouds,13.2167,-59.5167,
14,Butaritari,KI,81.95,scattered clouds,3.0707,172.7902,
...,...,...,...,...,...,...,...
554,Santa Cruz,BO,72.86,smoke,-17.8000,-63.1667,
556,Taloqan,AF,73.40,clear sky,36.7361,69.5345,
559,Xihe,CN,72.45,overcast clouds,31.6864,113.4659,
561,Dharmanagar,IN,84.74,broken clouds,24.3667,92.1667,
563,Lazaro Cardenas,MX,79.48,scattered clouds,17.9583,-102.2000,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [8]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [9]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
2,Atar,MR,87.80,overcast clouds,20.5169,-13.0499,Oumou Elghoura
3,Lorengau,PG,86.47,moderate rain,-2.0226,147.2712,Lorengau Harbourside Hotel
7,Kapaa,US,84.18,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
8,Bathsheba,BB,81.21,scattered clouds,13.2167,-59.5167,Atlantis Hotel
14,Butaritari,KI,81.95,scattered clouds,3.0707,172.7902,Isles Sunset Lodge
17,Ribeira Grande,PT,72.59,overcast clouds,38.5167,-28.7000,Quinta da Meia Eira
18,Kon Tum,VN,72.05,overcast clouds,14.3500,108.0000,Hoa đà spa- homestay
20,Hami,CN,78.94,clear sky,42.8000,93.4500,Laoyutang Resort
22,Vaini,TO,77.16,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
26,Rikitea,PF,70.14,overcast clouds,-23.1203,-134.9692,People ThankYou

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [14]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"] != ""]
# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
2,Atar,MR,87.80,overcast clouds,20.5169,-13.0499,Oumou Elghoura
3,Lorengau,PG,86.47,moderate rain,-2.0226,147.2712,Lorengau Harbourside Hotel
7,Kapaa,US,84.18,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
8,Bathsheba,BB,81.21,scattered clouds,13.2167,-59.5167,Atlantis Hotel
14,Butaritari,KI,81.95,scattered clouds,3.0707,172.7902,Isles Sunset Lodge
17,Ribeira Grande,PT,72.59,overcast clouds,38.5167,-28.7000,Quinta da Meia Eira
18,Kon Tum,VN,72.05,overcast clouds,14.3500,108.0000,Hoa đà spa- homestay
20,Hami,CN,78.94,clear sky,42.8000,93.4500,Laoyutang Resort
22,Vaini,TO,77.16,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
26,Rikitea,PF,70.14,overcast clouds,-23.1203,-134.9692,People ThankYou

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [12]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [17]:
# Set the file name.
output_data_file = "/Users/victoralvarado/Desktop/class_folder/World_Weather_Analysis/Vacation_search/WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file)

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [22]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [23]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Oumou Elghoura</dd>\n<dt>City</dt><dd>Atar</dd>\n<dt>Country</dt><dd>MR</dd>\n<dt>Weather Description</dt><dd>overcast clouds and 87.8 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Lorengau Harbourside Hotel</dd>\n<dt>City</dt><dd>Lorengau</dd>\n<dt>Country</dt><dd>PG</dd>\n<dt>Weather Description</dt><dd>moderate rain and 86.47 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Weather Description</dt><dd>clear sky and 84.18 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Atlantis Hotel</dd>\n<dt>City</dt><dd>Bathsheba</dd>\n<dt>Country</dt><dd>BB</dd>\n<dt>Weather Description</dt><dd>scattered clouds and 81.21 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Isles Sunset Lodge</dd>\n<dt>City</dt><dd>Butaritari</dd>\n<dt>Country</dt><dd>KI</dd>\n<dt>Weather Description</dt><dd>scattered clouds and 81.95 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Quinta da Meia Eira</dd>\n<dt>City</dt><dd>Ribeira Grande</dd>\n<dt>Country</dt><dd>PT</dd>\n<dt>Weather Description</dt><dd>overcast clouds and 72.59 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hoa đà spa- homestay</dd>\n<dt>City</dt><dd>Kon Tum</dd>\n<dt>Country</dt><dd>VN</dd>\n<dt>Weather Description</dt><dd>overcast clouds and 72.05 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Laoyutang Resort</dd>\n<dt>City</dt><dd>Hami</dd>\n<dt>Country</dt><dd>CN</dd>\n<dt>Weather Description</dt><dd>clear sky and 78.94 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Keleti Beach Resort</dd>\n<dt>City</dt><dd>Vaini</dd>\n<dt>Country</dt><dd>TO</dd>\n<dt>Weather Description</dt><dd>broken clouds and 77.16 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>People ThankYou</dd>\n<dt>City</dt><dd>Rikitea</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Weather Description</dt><dd>overcast clouds and 70.14 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [24]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
2   20.5169  -13.0499
3   -2.0226  147.2712
7   22.0752 -159.3190
8   13.2167  -59.5167
14   3.0707  172.7902
17  38.5167  -28.7000
18  14.3500  108.0000
20  42.8000   93.4500
22 -21.2000 -175.2000
26 -23.1203 -134.9692

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [28]:
# Add a marker layer for each city to the map. 

locations = clean_hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)


# YOUR CODE HERE

# Create a figure to add the Google map as a layer
# YOUR CODE HERE

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))